.contact{
    width: 100%;
    display: table;
    padding-bottom: 178px;
}
.contact_nav{
    display: table-cell;
    max-width: 200px;
    min-width: 200px;
    height: 100%;
    z-index: 500;
    padding-top: 40px;
    padding-bottom: 40vh;
    border-top: 2px solid #FFB950;
    border-right: 2px solid #D3CDC2;
    background-color: #FFFFFf;
    font-size: 20px;
}
.contact_nav .current{
    background-color: #FFB950;
    color: #FFFFFF;
}
.contact_nav li{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 20px;
    border-bottom: 1px solid #E8E8E8;
    transition: 300ms;
}
.contact_nav .main_menu{
    transition-delay: 500ms;
}
.contact_nav li:hover{
    background-color: #FFB950;
    color: #FFFFFF;
    transition: 0ms;
}
.contact_nav .submenu{
    padding-left: 10px;
    display: none;
}
.contact_nav .submenu li{
    border: none;
}
.contact_contents{
    display: table-cell;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}
/* temproray */
.paging{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* category bar */
.category_bar{
    margin-top: 30px;
}
.category_bar li{
    display: inline-block;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #D3CDC2;
    border-bottom: none;
    border-radius: 5% 5% 0 0;
}
.category_bar li.current{
    color: #F4F4F2;
    background-color: #FFB950;
    border: 1px solid #FFB950;
    border-bottom: none;
 }
 /* FAQ */
 .faq_list ul{
    width: 100%;
 }
 .faq_list li{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #D3CDC2;
    background-color: #FFFFFF;     
 }
 .faq_category{
    width: 100px;
    padding-left: 20px;
    text-align: center;
 }
 .faq_title{
    padding-left: 20px;
    font-size: 18px;
 }
 .faq_content{
     display: none;
     padding-left: 110px;
     padding-right: 20px;
     padding-top: 10px;
     padding-bottom: 10px;
     word-wrap: break-word;
 }
 /* proposal */
 .proposal .user_name{
     padding-left: 10px;
 }
 .proposal_register button.proposal_submit{
    float: right;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    color: #F4F4F2;
    background-color: #FFB950;
 }
 .view_more{
    margin-bottom: 1rem;
    width: 100%;
    padding: 10px;
    font-weight: 600;
    border: 1px solid rgba(0,0,0,0.125);
    background-color: #FFFFFF;
 }
 /* notice */
 .notice{
     padding-top: 10px;
 }
 .notice_list h3{
     margin-bottom: 20px;
 }
 .notice_view{
     border-top: 2px solid#FFB950;
     border-left: 1px solid #D3CDC2;
     border-right: 1px solid #D3CDC2;
     border-bottom: 1px solid #D3CDC2;
     background-color: #FFFFFf;
 }
 .notice_view td.notice_title{
     font-size: 18px;
 }
 .notice_view_contents{
     padding: 20px;
 }
 .notice_pre{
     border-top: 1px solid #E8E8E8;
     border-bottom: 1px solid #E8E8E8;
 }
 .notice_pre, .notice_next{
     padding-top: 10px;
     padding-bottom: 10px;
 }
 .notice_pre span:first-child, .notice_next span:first-child{
    padding-left: 10px;
    padding-right: 20px;
    font-weight: 600;
 }
  /* bottom bar */
 .contents_bottom_bar{
    text-align: center;
 }
 .contents_bottom_bar .page{
    margin-left: 10px;
    margin-right: 10px;
 }
 .contents_bottom_bar button{
    float: right;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    color: #F4F4F2;
    background-color: #FFB950;
 }