.trade_item_view{
    background-color: white;
}
.trade_item_title{
    width: 100%;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #D3CDC2;
}
.trade_item_title .trade_state, .trade_item_title .trade_server{
    width: 10%;
    text-align: center;
}
.trade_item_title .trade_user_name, .trade_item_title .trade_item_date{
    width: 15%;
    text-align: center;
}
.trade_item_title .item_name{
    width: 50%;
    font-size: 20px;
    font-weight: bold;
}
.trade_item_img{
    text-align: center;
    margin-top: 30px;
}
.trade_item_info{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #F4F4F4;
    border: 1px solid #D3CDC2;
}
.trade_item_info table{
    width: 100%;
}
.trade_item_info tr:not(:last-child){
    border-bottom: 2px solid #D3CDC2;
}
.trade_item_info th{
    width: 20%;
    background-color: #FFB950;
    color: #F4F4F4;
    padding-left: 10px;
}
.trade_item_info td{
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.trade_item_info .item-price{
    color: #FF9900;
    font-size: 18px;
}
.trade_button{
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
}
.trade_button button:first-child{
    width: 111.28px;
    margin-left: 55px;
    padding: 10px 20px 10px;
    font-size: 18px;
    background-color: #FFB950;
    border: none;
    border-radius: 5%;
    color: #F4F4F4;
}
.trade_button button:nth-child(2){
    width: 25px;
    height: 25px;
    margin-left: 30px;
    text-align: center;
    font-weight: 600;
    background-color: #FFB950;
    border: none;
    border-radius: 50%;
}
.trade_apply_table{
    display: none;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    text-align: center;
    font-size: 18px;
    padding-bottom: 50px;
}
.trade_apply_table table{
    width: 100%;
}
.trade_apply_table th{
    background-color: #FFB950;
    color: #F4F4F4;
    padding-top: 10px;
    padding-bottom: 10px;
}
.trade_apply_table td{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F4F4F2;
}
.trade_apply_table tr td{
    border: 1px solid #D3CDC2;
}
.trade_apply_table_header :first-child{
    border-right: 1px solid #D3CDC2;
}
#price-preview{
    width: 100%;
    text-align: center;
    color: red;
}
/*trade apply madal*/
.trade_apply_layer{
    margin: auto;
    width: 300px;
    margin-top: 20%;
    padding: 20px;
    background-color: #F4F4F2;
}
#apply_price{
    border: none;
    border-radius: 5%;
    padding-left: 5px;
    margin-left: 10px;
}
#apply_reservation{
    margin-right: 5px;
}
.reservation_date{
    margin-left: 10px;
}
#apply{
    border: none;
    padding: 3px 10px 3px 10px;
    color: #F4F4F2;
    background-color: #FFB950;
}
.close_modal{
    float: right;
    border: 2px solid #E8E8E8;
    padding: 3px 10px 3px 10px;
    background-color: #E8E8E8;
}