/* logo */
.server_icon_0::before{
    content:"Dev";
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    /*position: absolute;*/
    width: 25px;
    height: 25px;
    /*background-image: url("../img/lute.png");
    background-size: 25px 25px;*/
    background-color: #020715;
    border-radius: 20%;
    padding: 3px;
 }
 .server_icon_manager::before{
    content:"Manager";
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    /*position: absolute;*/
    width: 25px;
    height: 25px;
    /*background-image: url("../img/lute.png");
    background-size: 25px 25px;*/
    background-color: #020715;
    border-radius: 10%;
    padding: 3px;
 }
.server_icon_1::before{
    content:"류트";
    font-size: 12px;
    font-weight: bold;
    /*position: absolute;*/
    width: 25px;
    height: 25px;
    /*background-image: url("../img/lute.png");
    background-size: 25px 25px;*/
    background-color: #FFF462;
    border-radius: 20%;
    padding: 3px;
 }
 .server_icon_2::before{
    content:"하프";
    font-size: 12px;
    font-weight: bold;
    /*position: absolute;*/
    width: 25px;
    height: 25px;
    /*background-image: url("../img/harp.png");
    background-size: 25px 25px;*/
    background-color: #FF9A00;
    border-radius: 20%;
    padding: 3px;
 }
 .server_icon_3::before{
    content:"만돌";
    font-size: 12px;
    font-weight: bold;
    /*position: absolute;*/
    width: 25px;
    height: 25px;
    /*background-image: url("../img/mandolin.png");
    background-size: 25px 25px;*/
    background-color: #FF165D;
    border-radius: 20%;
    padding: 3px;
 }
 .server_icon_4::before{
    content:"울프";
    font-size: 12px;
    font-weight: bold;
    /*position: absolute;*/
    width: 25px;
    height: 25px;
    /*background-image: url("../img/wolf.png");
    background-size: 25px 25px;*/
    background-color: #3EC1D3;
    border-radius: 20%;
    padding: 3px;
 }
 .trade_item_state_11:after{
    content:"[판매중]";
    font-weight: bold;
 }
 .trade_item_state_21:after{
    content:"[구매중]";
    font-weight: bold;
}
.trade_item_state_12:after, .trade_item_state_22:after{
    content:"[예약중]";
    color: green;
    font-weight: bold;
}
.trade_item_state_13:after, .trade_item_state_23:after{
    content:"[거래완료]";
    color:#BBBFCA;
    font-weight: bold;
}