.mypage{
    width: 100%;
    display: table;
    padding-bottom: 178px;
}
.mypage_nav{
    display: table-cell;
    max-width: 200px;
    min-width: 200px;
    height: 100%;
    z-index: 500;
    padding-bottom: 40vh;
    border-top: 2px solid #FFB950;
    border-right: 2px solid #D3CDC2;
    background-color: #FFFFFf;
    font-size: 20px;
}
.mypage_nav .current{
    background-color: #FFB950;
    color: #FFFFFF;
}
.mypage_nav li{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 20px;
    border-bottom: 1px solid #E8E8E8;
    transition: 300ms;
}
.mypage_nav .main_menu{
    transition-delay: 500ms;
}
.mypage_nav li:hover{
    background-color: #FFB950;
    color: #FFFFFF;
    transition: 0ms;
}
.mypage_nav .submenu{
    display: none;
    font-size: 16px;
}
.mypage_nav .submenu li{
    border: none;
}
.mypage_contents{
    display: table-cell;
    width: 100%;
    padding-bottom: 5%;
}
.category_bar{
    margin-top: 30px;
    margin-left: 5%;
}
.category_bar li{
    display: inline-block;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #D3CDC2;
    border-bottom: none;
    border-radius: 5% 5% 0 0;
}
.category_bar li.current{
    color: #F4F4F2;
    background-color: #FFB950;
    border: 1px solid #FFB950;
    border-bottom: none;
 }
 /* Warning */
 .warning_table{
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 100px;
    background-color: #FFFFFf;
    border-top: 1px solid red;
    border-left: 1px solid #D3CDC2;
    border-right: 1px solid #D3CDC2;
    border-bottom: 1px solid #D3CDC2;
 }
 .warning_table table{
     width: 100%;
 }
 .warning_table tr{
    width: 100%;
 }
 .warning_table td{
     text-align: center;
     padding-top: 10px;
     padding-bottom: 10px;
 }
 .warning_type, .warning_due{
     width: 25%;
 }
 .warning_reason{
     width: 50%;
 }
/* ModifyInfo */
.mypage_modify_info{
    margin-top: 30px;
}
.mypage_modify_info h5{
    text-align: center;
}
.mypage_modify_info td{
    padding: 15px 0px 15px 0px;
}
#modifyAuth_button{
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 200px;
    margin-left: 35%;
    margin-right: 35%;
    font-weight: 600;
    color: #F4F4F4;
    border: none;
    background-color:  #FFB950;
    border-radius: 5%;
    outline: none;
 }
#modifyPw_button{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
    border: 2px solid #D3CDC2;
    border-radius: 5%;
    font-weight: bold;
}
/* Report */
.report_table{
    width: 100%;
    text-align: center;
}
.report_table table{
    width: 100%;
    border-top: 2px solid #FFB950;
    border-bottom: 1px solid #D3CDC2;
    border-left: 1px solid #D3CDC2;
    border-right: 1px solid #D3CDC2;
    background-color: #FFFFFF;
}
.report_table th{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid#D3CDC2;
}
.report_table td{
    padding-top: 5px;
    padding-bottom: 5px;
}
.report_table .report_blink{
    padding-top: 50px;
    padding-bottom: 50px;
}
.report_table .report_category{
    width: 20%;
}
td.report_category{
    color: red;
    font-weight: 500;
}
.report_content{
    width: 50%;
}
.report_date{
    width: 15%;
}
.report_state{
    width: 15%;
}
.report_register{
    border-top: 2px solid#FFB950;
     border-left: 1px solid #D3CDC2;
     border-right: 1px solid #D3CDC2;
     border-bottom: 1px solid #D3CDC2;
    background-color: #FFFFFf;
    padding: 20px;
}
.report_register .register-title{
    width: 100%;
}
.report_register select.category-select{
    width: 20%;
    display: inline-block;
}
.report_register span:nth-child(2){
    width: 79%;
    display: inline-block;
}
.register-table table{
    margin-top: 20px;
    width: 100%;
}
.register-table th{
    width: 20%;
    text-align: center;
}
.register-table td{
    padding-top: 5px;
    padding-bottom: 5px;
}
.register-table textarea{
    width: 100%;
}
#report_link{
    width: 100%;
    line-height: 1.5;
    border: 1px solid #CED4DA;
    border-radius: 5%;
}
.report_button{
    width: 100%;
    margin-top: 15px;
    text-align: center;
}
.report_button button{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    color: #FFFFFf;
    background-color: #FFB950;
}
.report_view{
    margin-top: 30px;
    background-color: #FFFFFf;
}
.report_view table{
    width: 100%;
    border-top: 2px solid #D3CDC2;
}
.report_view tr{
    border-bottom: 1px solid #E8E8E8;
}
.report_view th{
    width: 20%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.report_view td{
    padding: 10px;
}