.user-register{
	width: 100%;
	min-height: 90vh;
	text-align: center;
	margin-top: 100px;
	padding-bottom: 278px;
}
#registerForm{
	padding-top: 10px;
}
.user-register div{
	margin-bottom: 50px;
}
.user-register th {
	font-size: 14px;
	padding-left: 5px;
}
.info-list{
	margin: auto;
}
.user-register tr{
    width: 300px;
}
.user-register td{
	padding: 10px 0px 10px;
}
#user_id{
	width: 225px;
}
#user_id{
	display: inline-block;
}
#user_pw, #user_pw_check{
	width: 300px;
}
.double_check{
	width: 75px;
	height: 38px;
	font-weight: 400;
	background-color: #FFFFFF;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
}
.server-select{
    width: 80px;
    display: inline-block;
}
#user_name{
    width: 138px;
    display: inline-block;
}
.phonenumber{
	display: flex;
	justify-content: start;
}
.phonenumber li:not(:last-child){
	display: inline-block;
	width: 106.6px;
}
.phonenumber li:last-child{
	width: 86.6px;
}
.phonenumber li > span{
	display: inline-block;
	padding-right: 20px;
	position: relative;
	width: 100%;
}
.phonenumber li span:after{
	content:"-";
	position: absolute;
	right: 6px;
	top: 50%;
	margin-top: -12px;
}
.user-email li{
	display: inline-block;
	width: 150px;
}
.user-email li > span{
	display: inline-block;
	padding-right: 20px;
	position: relative;
	width: 100%;
}
.user-email li > span:after{
	content:"@";
	position: absolute;
	right: 1px;
	top: 50%;
	margin-top: -12px;
}
.register_button_bar{
    text-align: center;
    width: 100%;
}
#register_button{
	width: 200px;
	padding-top: 10px;
	padding-bottom: 10px;
    margin-top: 20px;
    margin-left: 35%;
    margin-right: 35%;
    font-weight: 600;
    color: #F4F4F4;
	border: none;
	background-color:  #FFB950;
    border-radius: 5%;
    outline: none;
 }
#register_button:active, #register_button:focus{
    outline: none;
    box-shadow: none;
 }
.register_error{
	display: none;
}
.register_error td{
	width: 300px;
	padding: 0;
	padding-left: 10px;
	padding-right: 10px;
	color: red;
	font-size: 12px;
}
#usable_id td, #usable_user_name td{
	color: green;
}