/* trade history */
.category_bar{
    margin-top: 30px;
    margin-left: 5%;
}
.category_bar li{
    display: inline-block;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #D3CDC2;
    border-bottom: none;
    border-radius: 5% 5% 0 0;
}
.category_bar li.current{
    color: #F4F4F2;
    background-color: #FFB950;
    border: 1px solid #FFB950;
    border-bottom: none;
 }
.search_box{
    padding-top: 30px;
    text-align: center
}
.search_box span{
    font-size: 16px;
}
.search_box input{
    padding-left: 10px;
    margin-left: 10px;
    border: none;
}
.trade_history_table{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
    background-color: #FFFFFF;
    border-top: 2px solid #FFB950;
    box-shadow: 1px 1px 1px #D3CDC2;
}
.trade_history_table table{
    width: 100%;
}
.trade_history_table tr{
    border-bottom: 1px solid #E8E8E8;
}
.trade_history_table .trade_server{
    width: 10%;
    text-align: center;
}
.trade_history_table .trade_state, .user_trade_history_table .trade_price, .user_trade_history_table .trade_time{
    width: 15%;
    text-align: center;
}
.trade_history_table .trade_title{
    width: 45%;
}
.trade_history_table td{
    padding-top: 10px;
    padding-bottom: 10px;
}
.trade_history_table tr :not(:nth-child(3)){
    text-align: center;
}
.trade_history_table td:nth-of-type(4){
    color: #FFB950;
    font-weight: 600;
}
/* mypage */
.user_trade_history_overview{
    justify-content: center;
    background-color: #E8E8E8;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.user_trade_history_overview .card{
    box-shadow: 1px 1px 1px #D3CDC2;
}
.user_trade_history_overview .card-header{
    text-align: center;
    background-color: #FFFFFF;
    border-bottom: none;
    font-size: 18px;
    font-weight: 600;
}
.user_trade_history_overview .card-body{
    text-align: center;
}
.user_trade_history_overview .trade_ing, .user_trade_history_overview .trade_complete{
    color: slategrey;
    padding-right: 10px;
}
.user_trade_history_overview .trade_number{
    color: red;
    font-weight: 600;
    padding-right: 10px;
}
.user_trade_list_table{
    background-color: #E8E8E8;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 50px;
}
.user_trade_list_table table{
    width: 100%;
}
.user_trade_list_table th{
    width: 40%;
    padding: 5px 0px 5px 10px;
}
.user_trade_list_table td{
    width: 30%;
    text-align: right;
}
.user_trade_list_table span{
    padding: 10px;
}
.user_trade_history_table{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
    background-color: #FFFFFF;
    border-top: 2px solid #FFB950;
    box-shadow: 1px 1px 1px #D3CDC2;
}
.user_trade_history_table table{
    width: 100%;
}
.user_trade_history_table tr{
    border-bottom: 1px solid #E8E8E8;
}
.user_trade_history_table .trade_server{
    width: 10%;
    text-align: center;
}
.user_trade_history_table .trade_state, .user_trade_history_table .trade_price, .user_trade_history_table .trade_time{
    width: 15%;
    text-align: center;
}
.user_trade_history_table .trade_title{
    width: 45%;
}
.user_trade_history_table td{
    padding-top: 10px;
    padding-bottom: 10px;
}
.user_trade_history_table tr :not(:nth-child(3)){
    text-align: center;
}
.user_trade_history_table td:nth-of-type(4){
    color: #FFB950;
    font-weight: 600;
}
/* bottom bar */
 .contents_bottom_bar{
    text-align: center;
 }
 .contents_bottom_bar .page{
    margin-left: 10px;
    margin-right: 10px;
 }
 .contents_bottom_bar button{
    float: right;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    color: #F4F4F2;
    background-color: #FFB950;
 }